<%-include ('./header')%>
    <div class="container ">
        <div class="row  mb-4 header">
            <div class="col-8">
                <h2 class="text-center" >
                    <%=group.groupName%>
                </h2>
            </div>
            <div class="col-4">
                <% if (currUser.admin) { %>
                    <div class="btn-group ml-auto" role="group" aria-label="Edit and Delete Group Buttons" style="float: right;">
                        <a href="/group/edit?groupId=<%= group.groupId %>">
                            <button type="button" class="btn btn-warning mx-2">Edit Group</button>
                        </a>
                        <a href="/group/delete?groupId=<%= group.groupId %>">
                            <button type="button" class="btn btn-danger">Delete Group</button>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#group_updates">Group Updates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#group_resources">Group Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#group_members">Group Members</a>
            </li>
        </ul>

        <div class="tab-content">
            
            <%-include ('./groupPosts')%>
            <%-include ('./groupResources')%>
            <%-include ('./groupMembers')%>

        </div>
    </div>
    
<%-include ('./footer')%>

<script>
    const query=<%- JSON.stringify(query)%>;
    if(query.postCreate=='success')
        Swal.fire({
            title: 'Post Created Successfully!',
            text: '',
            icon: 'success',
            confirmButtonText: 'OK'
        })

    if(query.postCreate=='failure')
        Swal.fire({
            title: 'Post Creation Failed!',
            text: 'Try Again',
            icon: 'error',
            confirmButtonText: 'OK'
        })
</script>

    