<%-include ('./header')%>
    <div class="container welcome-header"><h2 style="margin:inherit">Welcome <%= user %></h2></div>
    <div class="container">
        <h2 class="mt-4 header">Recent Activities</h2>
        <% for(post of newPosts) { %>
            <div class="activity-card">
                <a href="/group/dashboard?groupId=<%= post.groupId %>">
                    <h5>
                        <%= post.groupId %>: <%= post.postHeading %>
                    </h5>
                </a>
                <p><%= post.postContent.substring(0,100) %>.....</p>
            </div>
        <% } %>

        <h2 class="header">Newly Joined Members</h2>
        <div class="new-members-card">
            <ul>
                <% for(member of newMembers) { %>
                    <li>
                        <a href="/landing/view-profiles">
                            <%= member.userName%>
                        </a> 
                        ( <%= member.userEmail %> )
                    </li>
                <%}%>
            </ul>
        </div>
    </div>    
<%-include ('./footer')%>