<%-include ('./header')%>
    <div class="container welcome-header d-flex justify-content-between align-items-center">
        <h2>Welcome <%= user %></h2>
    </div>
    <div class="container">
        <h2 class="mt-4 header">Recent Activities</h2>
        <% for(post of newPosts) { %>
            <div class="activity-card">
                <a href="/group/dashboard?groupId=<%= post.groupId %>">
                    <h5>
                        <%= post.groupId %>: <%= post.postHeading %>
                    </h5>
                </a>
                <p><%- post.postContent.substring(0,100) %>.....</p>
            </div>
        <% } %>

        <h2 class="header">Newly Joined Members</h2>
        <div class="new-members-card">
            <ul>
                <% for(member of newMembers) { %>
                    <li>
                        <a href="/landing/view-profiles">
                            <%= member.userName%>
                        </a> 
                        ( <%= member.userEmail %> )
                    </li>
                <%}%>
            </ul>
        </div>
    </div>    
<%-include ('./footer')%>

<script>
    const query=<%- JSON.stringify(query) %>;
    if(query.login=='success')
      Swal.fire({
        title: 'Successfully Logged In!',
        text: 'Welcome to JU Community!',
        icon: 'success',
        confirmButtonText: 'OK'
      })
</script>

<script>
    // Add an event listener to each navigation link
    $(document).ready(function(){
        // Remove 'active' class from all navigation links
        $(".navbar-nav .nav-link").removeClass("active");
        // Add 'active' class to the clicked navigation link
        $('#home').addClass("active");
    });
</script>