<%-include ('./header')%>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <button type="button" class="btn btn-primary my-2 mx-2" data-toggle="modal" data-target="#groupsModal">
                    View My Groups
                </button>

                <div class="profile-card">
                    <h2 class="text-center mb-4">User Profile</h2>
                    <hr>
                    <div class="profile-picture">
                        <img src="<%= user.profileImage %>" alt="No Profile Picture">
                    </div>
                    <div class="user-details">
                        <strong>User ID:</strong> <%= user.userId %> <br>
                        <strong>Username:</strong> <%= user.userName %> <br>                  
                        <strong>Email:</strong> <%= user.userEmail %> <br>
                        <% if (user.userRoll) { %>
                            <strong>Roll:</strong> <%= user.userRoll %> <br>
                        <% } %>
                        <% if (user.userDepartment) { %>
                            <strong>Department:</strong> <%= user.userDepartment %> <br>
                        <% } %>
                        <% if (user.degree) { %>
                            <strong>Degree:</strong> <%= user.degree %> <br>
                        <% } %>
                        
                        <% if (user.passout) { %>
                            <strong>Passout:</strong> <%= user.passout.toISOString().split('T')[0] %> <br>
                        <% } %>
                        <strong>Bio:</strong> <%= user.bio %> <br>
                        <%for(df of user['dynamicFields']){%>
                            <strong><%= df.field %>:</strong> 
                            <%= df.value %>
                            <br>
                        <% } %>
                    </div>
                    <a href="/profile/edit"><button class="btn btn-secondary edit-btn">Edit</button></a>
                    <button class="btn btn-danger edit-btn" style="float: right;" onclick="deleteProfile()">Delete</button>
                </div>
            </div>
        </div>

        <!-- My Groups Modal -->
        <div class="modal fade" id="groupsModal" tabindex="-1" role="dialog" aria-labelledby="groupsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="groupsModalLabel">My Groups</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Group Cards -->
                        <div class="container">
                                <% for(const group of myGroups) { %>
                                    <div class="group-card">
                                        <div class="group-details">
                                            <strong>Group ID:</strong> <%= group.groupId %> <br>
                                            <strong>Group Name:</strong> <%= group.groupName %><br>
                                            <strong>Admin:</strong> <%= group.adminId %>
                                            <a href="/group/dashboard?groupId=<%= group.groupId %>">
                                                <button class="btn btn-primary" style="float: right;">View Dashboard</button>
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
    
                                <!-- Add more group cards here -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    

    </div>
<%-include ('./footer')%>

<script>
    const query=<%- JSON.stringify(query)%>;
    if(query.editProfile=='success')
        Swal.fire({
            title: 'Yay!',
            text: 'Profile Edited Successfully',
            icon: 'success',
            confirmButtonText: 'OK'
        })

    if(query.editProfile=='failure')
        Swal.fire({
            title: 'Oops!',
            text: 'Profile Edit Failed',
            icon: 'error',
            confirmButtonText: 'OK'
        })
</script>

<script>
    // Add an event listener to each navigation link
    $(document).ready(function(){
        // Remove 'active' class from all navigation links
        $(".navbar-nav .nav-link").removeClass("active");
        // Add 'active' class to the clicked navigation link
        $('#myProfile').addClass("active");
    });
</script>

<script>
    function deleteProfile(event) {
        Swal.fire({
            title: 'Are You sure?',
            text: 'Your Profile will be Deleted',
            icon: 'warning',
            confirmButtonText: 'OK'
        })
        .then((result)=>{
            if(result.isConfirmed)
                window.location.href='/profile/delete'
        });
    }
</script>