<%-include ('../partials/header')%>
    <div class="container">
        <h2 class="text-center mb-4 header">View Profiles</h2>
        

        <% for(const user of users) { %>
            <div class="member-card">
                <div class="member-info"><strong>Name:</strong> <%= user.userName %> </div>
                <div class="member-info"><strong>Email:</strong> <%= user.userEmail %> </div>
                <div class="member-info"><strong>User ID:</strong> <%= user.userId %> </div>
                <div class="member-info"><strong>Roll Number:</strong> <%= user.userRoll %> </div>
                <div class="member-info"><strong>Department:</strong> <%= user.userDepartment %> </div>
                <button class="btn btn-view-details">View Details</button>
            </div>
        <% } %>
        
    </div>
<%-include ('../partials/footer')%>
